.venv
__pycache__/
.env

# Ignore contents of folders but keep the folders themselves
Output Report/*
!Output Report/.gitkeep

Reports Extracted Data/*
!Reports Extracted Data/.gitkeep

Report Input Forms/*
!Report Input Forms/.gitkeep